ul {
  padding-left: 0px;
  list-style: none;
}

h1 {
  text-align: center;
  color: #0dcaf0;
}

.card {
  width: 30rem;
  display: flex;
}

.title {
  padding-top: 20px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  font-size: "3rem";
  font-weight: "bolder";
}

.list-group-item-action {
  cursor: pointer;
}
